.header {
  max-width: 1360px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}

.header__logo {
  width: 89px;
  height: 40px;
  padding-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  border: none;
  background: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 20px 0 0;
}

.header__user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user-link:link,
.header__user-link:visited,
.header__user-link:hover,
.header__user-link:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header__user {
  margin: 0;
  padding-right: 12px;
}
