@import url(./vendor/normalize.css);
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../src/vendor/fonts/CabinetGrotesk-Regular.otf")
    format("OpenType Font");
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../src/vendor/fonts/CabinetGrotesk-Medium.otf")
    format("OpenType Font");
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../src/vendor/fonts/CabinetGrotesk-Bold.otf")
    format("OpenType Font");
}
